@using WebChartApp.Models
@model WebChartApp.Models.HistoryModel

<h2>History</h2>

<script>
    $('#startDate).datepicker();
</script>
@using (Html.BeginForm("Index", "History", new { Model.startDate ,Model.endDate }, FormMethod.Get))
{

    <div class="form-group input-group-sm">
        <a>Start Date  </a> @Html.EditorFor(model => model.startDate, Model.startDate)
        <a>End Date   </a>@Html.EditorFor(model => model.endDate, Model.startDate)
        <input type="submit" class="btn btn-primary" value="Filter" />

    </div>
}

@(Html.DevExtreme().Chart()
    .ID("chart")
    .Palette(VizPalette.Violet)
    .CommonSeriesSettings(s => s
        .ArgumentField("CHECK_DATE")
        .ValueField("AD_VIEWS")
        .Type(SeriesType.StepLine)
    )
    .SeriesTemplate(t => t
        .NameField("AD_TITLE")
    )
    .Title(t => t
        .Text(ViewData["Title"].ToString())
        .Subtitle("Count of View")
    )
    .DataSource(Model.histories)
)
@(Html.DevExtreme().Chart()
    .ID("chartPrice")
    .Palette(VizPalette.Violet)
    .CommonSeriesSettings(s => s
        .ArgumentField("CHECK_DATE")
        .ValueField("AD_PRICE")
        .Type(SeriesType.StepLine)
    )
    .SeriesTemplate(t => t
        .NameField("AD_TITLE")
    )
    .Title(t => t
        .Text(ViewData["Title"].ToString())
        .Subtitle("Price")
    )
    .DataSource(Model.histories)
)
